{% extends "base.html" %}
{% block body %}
<div class="form-wrapper">
	<form form action="/profile" method="post">
    <style>
    .img-box {
      height:200px;
      width:150px;
      margin-left: auto;
      margin-right: auto;
    }
    .img-cont {
      max-width:100%;
      max-height:100%;
    }
    </style>

    <div class="img-box">
		  <img class="img-cont" src="{{user.picture}}" />
    </div>
		<h2> {{user.first}} </h2>
		Email: <input type="text" name="age" value="{{user.email()}}"> <br>
		Age: <input type="text" name="age" value="{{user.age}}"> <br>
		Mission: <input type="text" placeholder="three words" name="mission" value="{{user.tagline}}"> <br>
		Skills: <input type="text" name="tags" value="{{user.tags}}"> <br>
		Interests: <input type="text" name="interests" value="{{user.interests}}"> <br>
		<input type="submit" value="Update My Profile!" >
	</form>
</div>
<style>
	img {
		border: 2px solid;
    	border-radius: 25px;
    	max-width: 100%;
    	max-height: 100%;
	}
</style>
{% endblock %}
